*{
    font-family:sans-serif ;
    box-sizing: border-box;
}

.fs-12p-fu{
    font-size: 12px;
}

.fs-12_25p-fu{
    font-size: 12.25px;
}

.fs-13p-fu{
    font-size: 13px;
}

.fs-14p-fu{
    font-size: 14px;
}

.fs-17_5p-fu{
    font-size: 17.5px;
}

.fs-21p-fu{
    font-size: 21px;
}

.fs-24_5p-fu{
    font-size: 24.5px;
}

.red-round-fu{
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.logo-size-fu{
    width: 160px;
    height: 31px;
}

.nav-size-fu{
    width: 20px;
    height: 20px;
}

.flag-size-fu{
    width: 16px;
    height: 16px;
}

.search-fu{
    width: 494px;
    padding: 8px 16px;
}

.search-size-fu{
    width: 14px;
    height: 14px;
}

.search-position-fu{
    top: calc(50% - 8px);
    right: 5%;
}

.nav-color-fu{
    background-color: #0AAD0A;
}

.nav-text-color-fu{
    color: #0AAD0A;
}

.featured-twoimg-size-fu{
    width:97.5%;
    background-size: contain;
    background-position: center;
    height: 200px;
}

.featured-twoimg-posi-fu{
    top: 20%;
    left: 5%;
}

.popular-tag-size-fu{
    width: 44px;
}

.rating-size-fu{
    width: 12.25px;
    height: 12.25px;
}

.ppp{
    padding: 5px;
}

.footer-img-fu{
    background-position: center;
    background-size: cover;
}

.footer-border-size{
    width: 26px;
    height: 26px;
}

.shop-img-size{
    width: 64px;
    height: 64px;
}

.shop-trash-img{
    width: 12px;
    height: 12px;
}

.shop-width{
    --bs-offcanvas-width: 520px;
}

.counter-size{
    width: 32px;
    height: 32px;
}

.counter-line-height{
    line-height: 32px;
}

.counter-price-width{
    width: 200px;
}

.user-border-clear{
    --bs-modal-header-border-color:transparent;
    --bs-modal-footer-border-color:transparent;
}

.user-position{
    top: 25%;
}