* {
    box-sizing: border-box;
}


/* .nav.navbar{
    height: 72px!important;
} */
.main-chi {
    height: 100vh;
    width: 100%;
    background-color: rgb(231, 231, 231);
    padding: 54px auto 254px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-chi {
    width: 540px;
    height: 948px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.body-t-chi {
    width: 90%;
    height: 30%;
    margin: auto;

}

.body-m-chi {
    width: 90%;
    margin: auto;
    
}

.body-b-chi {
    width: 90%;
}

ul.dropdown-menu {
    width: 90%;
}

.nav-func-chi {
    width: 20%;
} 
.nav-func-chi-2 {
    width: 96px;
    display: flex;
    
}

.form-control {
    width: 195px;
    margin-left: 10px;
}

.btn-chi {
    width: 40px;
    margin-right: 10px ;
    /* background-image: ; */
}

.form-check {
width: 90%;
} 

.human-chi {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    background-image: url(https://freshcart.codescandy.com/assets/images/avatar/avatar-1.jpg);
    background-size: contain;
}